{% extends "blog/Base.html" %}
{% block content%}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="margin-left: 50%; margin-bottom: 10%" class="border-bottom">Reset Password</legend>

                <div style="margin-left: 30%; margin-bottom: 10%">
                    {{ form }}

                </div>
                <div class="form-group">
                    <button style="margin-left: 50%" class="btn btn-outline-info" type="submit">Reset Password</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
